.item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 17px 0;
  border: 1px solid #eaeaea;
  height: 150px;
  margin-bottom: 25px;
  
}

.bookTitle {
  font-weight: 800;
  font-size: 1.4rem;
}

.bookAuthor {
  color: blue;
}

.actionLinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.actionLinkItem {
  margin-left: 20px;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.checkbox {
  margin-right: 15px;
}

.item button {
  border: none;
  cursor: pointer;
  outline: none;
  color: blue;
  background-color: transparent;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
