.circle-bar {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-radius: 100px;
  border-top-color: #469ae7;
  border-image-slice: 1;
  border-right-color: #469ae7;
  border-left-color: #dcdbdc;
  border-bottom-color: #469ae7;
}
