* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 10% 0 10%;
}

.inner {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  width: 50%;
  margin-left: 1rem;
  padding: 10px;
}

.author-input-text {
  width: 30%;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
}

.input-text::placeholder {
  color: rgb(136, 135, 135);
}

.input-submit {
  background: #0290ff;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px 25px 10px 25px;
  color: white;
  border-radius: 5px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  align-items: center;
  border-bottom: 1px rgb(217, 217, 217) solid;
}

.main-header {
  color: #0290ff;
  font-size: 32px;
  margin-left: 11%;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link-item {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.add-new-book {
  color: #898989;
  font-size: 24px;
  margin-bottom: 15px;
}

.hrclass {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px rgb(235, 235, 235) solid;
}
